.root{
	-fx-background-color: linear-gradient(#99ccff, #4d87ff, #99ccff);
	-fx-font-size: 11pt;
}

.label{
	-fx-border-color: black;
	-fx-border-width: 1px 0px 1px 1px;
	-fx-padding: 10px;;
}

.text-field{
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-padding: 10px;;
}

.button{
	-fx-background-color: linear-gradient(green, #33cc33);
	-fx-background-radius: 5em;
}

.button:hover{
	-fx-background-color: linear-gradient(#1f7a1f, #258e25);
}